.word {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
}

.image {
    margin-top: 50px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color:black;
}

.transparent-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    opacity: 50%;
}